.hint {
  font-size: 0.85rem;
  color: #666;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: baseline;
}

.muted-slightly-smaller {
  font-size: 0.85rem;
  color: #666;
}

.content-wrapper {
  max-width: 600px;
  border: 2px solid #ccc;
  margin: 1rem 0.5rem;
  padding: 0rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.content-wrapper .title {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: -0.7rem;
  background-color: #ffffff;
}
