.not-found-dummy-image {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
    margin: 0 auto;
}
